{
    "personalizeCampaignArn": "arn:aws:personalize:us-east-1:378798103391:campaign/personalize-poc-SIMSbfce4",
    "personalizeRerankCampaignArn": "arn:aws:personalize:us-east-1:378798103391:campaign/personalize-poc-rerankd13b2",
    "personalizeRealtimeCampaignArn": "arn:aws:personalize:us-east-1:378798103391:campaign/personalize-poc-hrnnd89f6",
    "eventTrackerArn": "arn:aws:personalize:us-east-1:378798103391:event-tracker/32977d70",
    "trackingId": "7df240cb-e899-492c-9234-8e0ab3ecda55"
}
